.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
.footer .social-media a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}
.footer .social-media a:hover {
  color: teal;
}
.legal a {
  color: #ffffff; 
}
.developer {
  margin-top: 10px; /* Add some space between legal and developer sections */
}

.developer a {
  color: #0b81ff; /* Change this to your desired color code */
  text-decoration: none; /* Optional: remove underline */
}

.developer a:hover {
  color: #0056b3; /* Change this to your desired hover color */
  text-decoration: underline; /* Optional: add underline on hover */
}
